<div class="row">
  <div class="columns large-12">

    <h1>About Us</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus reprehenderit architecto nemo enim assumenda similique aliquam vitae, omnis ex sapiente aspernatur et molestiae id nam quibusdam obcaecati. Corporis, natus fugiat.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus reprehenderit architecto nemo enim assumenda similique aliquam vitae, omnis ex sapiente aspernatur et molestiae id nam quibusdam obcaecati. Corporis, natus fugiat.</p>

  </div>
</div>
