#results{
  background: #323839;
  min-height: 100vh;
}

#product{
  margin-top: 40px;
}


input, textarea{
  width: 90%;
  background-color: #52595B !important;
  border:none !important;
  padding: 24px;
  box-shadow: none !important;
  color:#fff;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
  color: #95989A !important;
}

#btn{
  display: block;
  width: 90%;
  background: #1ad39a;
  padding: 15px 0;
  margin-top: 20px;
  cursor: pointer;
  color:#fff;
  font-weight: bold;
}

#results-label{
  margin: 60px 0 20px 30px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li{
  color:#fff;
  background: #283031;
  width: 90%;
  padding: 13px;
  margin: 10px 10px 10px -13px;
  text-indent: 30px;
  position:relative;
}

ul li .delete{
  position: absolute;
  right:0; top:0;
  cursor: pointer;
  background: #bd1111;
  padding:10px;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 600;
  display: block;
  text-align: center;
}
